

*.cache
.cache

# C extensions
*.so

# Packages

__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports

*.db
cache.db
cahce.db-journal


# Mr Developer


venv
app.db
jdm.log*

.env
Dockerfile
.dockerignore
docker-compose.yml