.about-container {
    width: 90%;
    height: auto;
    margin: 20px auto 15px auto;
    background-color: var(--filler);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: var(--black) solid 1px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
    line-height: 32px;
}

.about-header {
    text-align: center;
}

.big-para {
    margin-bottom: 2px;
}

.about-container > div {
    margin: 16px auto;
}

body {
    background: url(../images/mobilebackground-01.png);
}

@media screen and (min-width:600px) {
    body {
        background: url(../images/backgroundtablet-01.jpg) no-repeat center center fixed;
    }
    .about-container {
        padding: 12px 48px;
        max-width: 900px;
    }
}

@media screen and (min-width:960px) {
    body {
        background: url(../images/desktopbackground.jpg) no-repeat center center fixed;
    }
}