body {
    background-color: var(--filler);
}

.top-gradient {
    width: 100%;
    height: 40px;
    background: rgb(236,212,169);
    background: -moz-linear-gradient(0deg, rgba(236,212,169,1) 0%, rgba(245,194,238,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(236,212,169,1) 0%, rgba(245,194,238,1) 100%);
    background: linear-gradient(0deg, rgba(236,212,169,1) 0%, rgba(245,194,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecd4a9",endColorstr="#f5c2ee",GradientType=1);
}

.middle-gradient {
    width: 100%;
    height: 20px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(236,212,169,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(236,212,169,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(236,212,169,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ecd4a9",GradientType=1);
}

.bottom-car-gradient {
    width: 100%;
    height: 40px;
    background: rgb(245,194,238);
    background: -moz-linear-gradient(0deg, rgba(245,194,238,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(245,194,238,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(245,194,238,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5c2ee",endColorstr="#ffffff",GradientType=1);
}

.car {
    margin: 2px 6px;
}

.car-name {
    text-align: center;
    margin: 10px 0 16px 0;
}
.current-car-image {
    text-align: center;
    margin-bottom: 14px;
}

.current-car-image img {
    width: 80%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 14px 14px var(--primary), -14px -14px var(--highlights);

}

.more-images-container {
    padding: 4px;
    border: solid 4px var(--highlights);
    background-color: var(--primary);
    
}

.more-images {
    margin-top: 12px;
    width: 30%;
    cursor: pointer;
}

.additional-information h1 {
    text-align: center;
}

.information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-container {
    background-color: var(--primary);
    /* adjust this width if the boxes get all stacked up */
    width: 44vw; 
    padding: 4px;
    margin: 8px;
}

.extra {
    text-align: center;
}

.extra a {
    display: block;
}

.similar-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--white);
}

.similar-cars h1 {
    text-align: center;
    display: block;
    width: 100%;
}

.similar_cars > * {
    height: fit-content;
}

@media all and (min-width: 412px) {
    .current-car-image img {
        width: 68%;
    }
    .more-images {
        width: 20%;
    }
}

@media all and (min-width: 776px) {
    .current-car-image img {
        width: 45%;
    }
    .more-images {
        width: 18%;
    }
    .description {
        font-size: 20px;
    }
}

@media all and (min-width: 992px) {
    
    .description p {
        width: 60%;
        margin: auto;
        font-size: 24px;
    }
    .info-container {
        width: 20vw;
    }
}

.extra {
    margin: 12px 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 12px;
}

.extra a {
    display: inline-block;
    width: fit-content;
    background-color: var(--highlights);
    color: var(--white);
    height: auto;
    padding: 8px;
    border: var(--grey) solid 1px;
    text-align: center;
    font-size: 1.4em;
}
