body {
    background-color: var(--secondaryPrime);
}

.car-name {
    text-align: center;
}
.current-car-image {
    text-align: center;
}

.current-car-image img {
    width: 80%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.more-images {
    width: 30%;
    cursor: pointer;
}

.information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-container {
    background-color: pink;
    /* adjust this width if the boxes get all stacked up */
    width: 44vw; 
    padding: 4px;
    margin: 8px;
}

.similar_cars {
    display: flex;
    flex-wrap: wrap;
}

.similar_cars > * {
    height: fit-content;
}
