body {
    background-color: var(--secondaryPrime);
}

.car {
    margin: 2px 6px;
}

.car-name {
    text-align: center;
}
.current-car-image {
    text-align: center;
}

.current-car-image img {
    width: 80%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.more-images {
    margin-top: 12px;
    width: 30%;
    cursor: pointer;
}

.additional-information h1 {
    text-align: center;
}

.information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-container {
    background-color: pink;
    /* adjust this width if the boxes get all stacked up */
    width: 44vw; 
    padding: 4px;
    margin: 8px;
}

.extra {
    text-align: center;
}

.extra a {
    display: block;
}

.similar-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.similar-cars h1 {
    text-align: center;
    display: block;
    width: 100%;
}

.similar_cars > * {
    height: fit-content;
}

@media all and (min-width: 412px) {
    .current-car-image img {
        width: 68%;
    }
    .more-images {
        width: 20%;
    }
}

@media all and (min-width: 776px) {
    .current-car-image img {
        width: 45%;
    }
    .more-images {
        width: 18%;
    }
    .description {
        font-size: 20px;
    }
}

@media all and (min-width: 992px) {
    
    .description p {
        width: 60%;
        margin: auto;
    }
    .info-container {
        width: 20vw;
    }
}
