.car-preview-container {
    background-color: var(--filler);
    margin: 20px 12px;
    border: solid #000;
    position: relative;
}

.car-preview-top-banner {
    /* position: absolute; */
    width: 100%;
    background-color: var(--filler);
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
}

.favorite {
    color: var(--green);
}

.unfavorite {
    color: var(--red);
}

.car-preview-title {
    display: inline-block;
}

.car-preview-cover-img {
    width: 100%
}

.car-preview-bottom-banner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: -7px;
}

.car-preview-bottom-banner > * {
    margin: 0 8px;
}
