.contact-us-container {
    display: flex;
    width: 90%;
    margin: 100px auto;
    text-align: left;
    justify-items: center;
    align-items: center;
    font-family: 'Kanit';
    border: var(--black);
    border-width: 10px;
    z-index: 0;
}

@media all and (min-width: 776px) {
    .contact-us-container {
        width: 75%;
    }
}

@media all and (min-width: 1200px) {
    .contact-us-container {
        width: 50%;
    }
}



.form-input-header {
    font-weight: 500;
}

#contactUsInput {
    width: 40%;
}

#formInputContact textarea {
    overflow: auto;
    width: 90%;
    height: auto;
    min-height: 100px;
    padding: 5px;
}
body {
    background: url(../images/background-jz.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}