body {
    background: url(../images/background-jz.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-gradient {
    width: 100%;
    height: 40px;
    background: var(--filler);
    background: -moz-linear-gradient(0deg, var(--filler) 0%, var(--primary) 100%);
    background: -webkit-linear-gradient(0deg, var(--filler) 0%, var(--primary) 100%);
    background: linear-gradient(0deg, var(--filler) 0%, var(--primary) 100%);
    filter:
    progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--filler),endColorstr=var(--primary),GradientType=1);
    -webkit-filter:
    progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--filler),endColorstr=var(--primary),GradientType=1);
}

.bottom-gradient {
    width: 100%;
    height: 40px;
    background: var(--primary);
    background: -moz-linear-gradient(0deg, var(--primary) 0%, var(--filler) 81%);
    background: -webkit-linear-gradient(0deg, var(--primary) 0%, var(--filler) 81%);
    background: linear-gradient(0deg, var(--primary) 0%, var(--filler) 81%);
    filter:
    progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--primary),endColorstr=var(--filler),GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--primary),endColorstr=var(--filler),GradientType=1);
}

section {
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.col1 {
    background-color: var(--filler);
}

.col2 {
    background-color: var(--filler);
}

.content-section {
    min-height: 20px;
    padding: 80px 10vw;
}

.empty-section {
    min-height: 0px;
    padding: 0;
}

.curve {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    border-radius: 100% 50%;
    -webkit-border-radius: 100% 50%;
    -moz-border-radius: 100% 50%;
    -ms-border-radius: 100% 50%;
    -o-border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--red);
    /* background-color: transparent; */
    transform: translate(85%, 60%);
    -webkit-transform: translate(85%, 60%);
    -moz-transform: translate(85%, 60%);
    -ms-transform: translate(85%, 60%);
    -o-transform: translate(85%, 60%);
    mix-blend-mode: overlay;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    -webkit-border-radius: 100% 50%;
    -moz-border-radius: 100% 50%;
    -ms-border-radius: 100% 50%;
    -o-border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--red);
    transform: translate(-4%, 40%);
    -webkit-transform: translate(-4%, 40%);
    -moz-transform: translate(-4%, 40%);
    -ms-transform: translate(-4%, 40%);
    -o-transform: translate(-4%, 40%);
    z-index: -1;
}

svg {
    position: relative;
    display: inline-block;
    width: 100%;
}

.bottom-wave, .top-wave {
    margin-bottom: 0px;
    margin-top: 0px;
}

@media screen and (min-width: 776px) {
    .bottom-wave, .top-wave {
        margin-bottom: -20px;
        margin-top: -20px;
    }
}

@media screen and (min-width: 992px) {
    .bottom-wave, .top-wave {
        margin-bottom: -40px;
        margin-top: -40px;
    }
}

@media screen and (min-width: 1200px) {
    .bottom-wave, .top-wave {
        margin-bottom: -55px;
        margin-top: -55px;
    }
}


.greeting-container {
    text-align: center;
    font-size: 28px;
    margin-bottom: 28px;
}

.greeting-container > *{
    display: inline-block;
}

.greeting-container img {
    height: 36px;
}

@media screen and (min-width: 776px) {
    .greeting-container {
        font-size: 32px;
    }
    .greeting-container img {
        height: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .greeting-container {
        font-size: 48px;
    }
    .greeting-container img {
        height: 50px;
    }
}

.company-value h2 {
    /* color: var(--yellow); */
    font-family: 'Kanit';
}

@media screen and (max-width:600px) {
    .company-values-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .company-value {
        width: 100%;
        height: 100%;
    }
}

.quick-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.link-container {
    background-color: var(--white);
    margin: 10px;
    padding: 32px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.link-container a {
    display: inline-block;
    width: 100px;
    background-color: var(--highlights);
    color: var(--white);
    height: auto;
    padding: 8px;
    border: var(--grey) solid 1px;
    text-align: center;
    position: relative;
    top: 10px;
}

.link-container a:hover {
    background-color: var(--highlights-hover);
}

.mini-image img {
    width: 100px;
    height: 100px;
    border: 4px solid var(--highlights);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

@media screen and (min-width: 512px) {
    .link-container {
        margin: 10px 100px;
    }
}

@media screen and (min-width: 992px) {
    .quick-links {
        display: block;
        position: relative;
    }
    .link-container {
        display: inline-block;
        margin: 0 12px;
        width: 28%;
        padding: 20px;
        height: 100% !important;
    }
    .link-container h2 {
        height: 80px;
    }
    
}

.hours-container {
    margin: auto;
    margin-top: 100px;
    background-color: var(--white);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: var(--black) solid 1px;
}

.hours-container h1, .hours-container h2 {
    text-align: center;
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-container {
    text-align: center;
    background-color: var(--primary);
    color: var(--black);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 70%;
    margin: 6px auto;
}

.date-container h3 {
    margin: auto;
}

.current-day {
    background-color: var(--highlights);
    color: var(--white);
}

@media screen and (min-width: 412px) {
    .date-container {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .hours {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .date-container {
        width: 140px !important;
        margin: 8px 10px;
        padding: 2px 8px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .date-container h3 {
        width: 100px;
    }
}

@media screen and (min-width: 1000px) {
    .hours-container {
        text-align: center;
    }
    .hours {
        display: block;
        margin: auto;
    }
    .date-container {
        display: inline-block;
        margin: 8px 12px;
    }
}

@media screen and (min-width: 1200px) {
    .hours h3 {
        font-size: 22px;
    }
    .hours p {
        font-size: 20px;
    }
    .date-container {
        padding: 4px 8px;
    }
}


/* Source */

.container {
    width: 100%;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    font-size: 26px;
    margin: 12px;
}

.carousel-item > div {
    height: 400px;
    line-height: 500px;
    font-size: 1.5em;
    text-align: center;
    color: var(--white);
}



/* Carousel https://codepen.io/ryanmorr/pen/rVGoee */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 14px 14px var(--primary), -14px -14px var(--highlights);
}

/* .carousel::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--highlights);
    position: relative;
    bottom: 10px;
    left: 10px;
} */


.carousel-container {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 500%;
    transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
    -webkit-transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
    -moz-transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
    -ms-transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
    -o-transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
}

.carousel-item {
    position: relative;
    float: left;
    width: 20%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
}

@media screen and (min-width: 776px) {
    .container {
        width: 86%;
    }
    .carousel-item {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 66%;
    }
}

.car-title {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 4px;
    background-color: var(--primary);
    border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    -ms-border-radius: 0 0 10px 0;
    -o-border-radius: 0 0 10px 0;
}

.carousel-item img {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: -30px 0 -70px 0;
    height: calc(100% + 100px);
    border: 2px solid #bbb;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


/* Next / Prev Buttons */

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    background-color: var(--black);
    opacity: 0.7;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.carousel-prev {
    left: 2%;
    padding-right: 3px;
}

.carousel-prev::before {
    content: '';
    font-family: "FontAwesome";
}

.carousel-next {
    right: 2%;
    padding-left: 3px;
}

.carousel-next::before {
    content: '';
    /* font-family: "FontAwesome"; */
}

.carousel-prev:hover,
.carousel-next:hover {
    opacity: 1;
}

/* Pagination */

.carousel-pagination {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--black);
    cursor: pointer;
    margin: 0 7px;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel-bullet:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.carousel-bullet.active-bullet, 
.carousel-bullet.active-bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: var(--white);
    cursor: default;
}
