body {
    background: url(../images/background-jz.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* design for the carousel goes here */
.carousel {
    margin-top: 20px;
    height: 50%;
    width: 75%;
    text-align: center;

}

#carouselLeft {
    position: absolute;
    top: auto;
    bottom: auto;
    left: 0;
}

#carouselRight {
    position: absolute;
    top: auto;
    bottom: auto;
    right: 0;
}

.carousel-info {
    position: absolute;
    bottom: 0;
    left: 0;
}




/* Styling the company values SVG element */
.company-values-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.company-value {
    margin: 2em;
    max-width: fit-content;
    padding: 1%;
    font-size: large;
    font-weight: bold;
    background-color: var(--teal);
    border-radius: 25px;
    box-shadow: 5px 5px 2px 2px #7038B5;
}

.company-value h2 {
    color: var(--yellow);
    font-family: 'Kanit';
}

@media screen and (max-width:600px) {
    .company-values-container {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .company-value {
        width: 100%;
        height: 100%;
    }
}
