* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/mobilebackground-01.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



@media screen and (min-width: 512px) {
    .car-listings-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }    
    .car-listings-container > * {
        width: 43%;
    }
}

@media screen and (min-width: 1200px) {
    .car-listings-container > * {
        width: 30%;
    }
}

.back-forth {
    display: flex;
    justify-content: center;
}

.back-forth a {
    margin: 0 48px;
    width: 80px;
    background-color: var(--highlights);
    color: var(--white);
    height: auto;
    padding: 8px;
    border: var(--grey) solid 1px;
    text-align: center;
}

.back-forth a:hover {
    background-color: var(--highlights-hover);
}