* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/backgroung-jz.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#topSearchArea {
    background-image: url(../images/JDMbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

#searchBarContainer {
    text-align: center;
    font-family: 'Kanit';
}

#topMessage {
    color: var(--teal);
    background-color: var(--grey);
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}



#carSearchBar {
    background-color: white;
    margin-bottom: 5px;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.carSearchInput {
    width: 95%;
    height: auto;
}

#searchIcon {
    position: absolute;
    top: 0;
    left: 0;
}

#clearSearchButton {
    position: absolute;
    top: 0;
    right: 0;
}

#carTypeButtons {
    display: inline-grid;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr;
    grid-template-rows: repeat(3, 1fr[lineRow]);
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 5px;
    row-gap: 10px;
    column-gap: 5px;
}

ul.carTypeButton {
    background-color: whitesmoke;
    border-radius: 20px;
    
}

.carTypeButton a {
    color: var(--teal);
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}