/* this is put here to reset the style of the select elements */
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
select::-ms-expand {
    display: none;
}

body {
    background-color: var(--yellow);
}

.loan-container {
   text-align: center;
}

.calculator-input {
    width: 95%;
}

.loan-info-container {
    background-color: var(--purple);
    border-radius: 10px;
    font-family: 'Kanit';
    margin: 10px auto;
    height: auto;
    width: 90%;
    text-align: center;
    padding: 5px;
    color: white;
    border: 2px solid #613992;
}

.loan-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.loan-box-spacing {
    margin: 12px 8px 16px 8px;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
}

.info-header {
    font-size: 2rem;
}

.info-para {
    display: block;
}

.box-label {
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.typed-inputs {
    width: 140px;
    height: auto;
    padding: 10px 7px;
    border-color: var(--purple);
    border-radius: 10px;
    font-family: 'Kanit';
    min-width: 0;
}

.range-slider {
    margin-top: 0;
}

.slider-price {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.dropdowns {
    width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

.dropdowns::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #777;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select,
.dropdowns:after {
  grid-area: select;
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}

/* styling for the second information box goes here */
.additional-loan-info-container {
    font-family: 'Kanit';
    font-size: 14px;
    
}

.monthly-pay-container {
    background-color: var(--yellow);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 6px;
    border-radius: 10px;
    color: black;
}

.monthly-payment-label {
    display: block;
    font-size: 20px;
    
}

.price-per-month {
    font-size: 25px;
    font-weight: bold;
}

.divider-image {
    margin-top: 4px;
    margin-bottom: 4px;
}

.all-info {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 4px;
}

/* styling for the bottom call to action */
.ready-to-buy {
    font-family: 'Kanit';
    font-size: 18px;
}
.ready-to-buy-label {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.ready-to-buy-para {
    text-align: left;
}

.contact-salesmen-container a {
    color: black;
}

.contact-salesmen-container {
    background-color: var(--yellow);
    max-width: fit-content;
    padding: 5px;
    border-radius: 12px;
    margin: 10px auto;

}

/* media queries for the styling on larger screens */

@media screen and (min-width:390px) {
    body {
        background-color: var(--yellow);
    }

    .loan-info-container {
        width: 350px;
        height: auto;
    }
}

@media screen and (min-width:750px) {
    body {
        background: url(../images/background-jz.png) no-repeat center center fixed;
    }

    .loan-container {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: [middle] 1fr;
        max-width: 720px;
        height: auto;
        margin: 40px auto;
    }
    .loan-input {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .ready-to-buy {
        grid-column: 2 / 3;
    }
}