img {
    width: 300px;
    height: auto;
    background-size: cover;
}

.solo-sales-rep-profile-container {
    text-align: center;
}

.profile-photo-container {
    position: relative;
    width: fit-content;
    height: auto;
    margin: 0 auto;
}

.sales-rep-name-container {
    position: absolute;
    bottom: 0;
    margin-right: auto;
    padding: 0 0 5px 5px;
    font-size: 25px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(131,131,131,1) 56%, rgba(255,255,255,0) 100%);
    width: 100%;
}

.sales-rep-name {
    text-align: left;
    color: white;
}

.profile-container {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.sales-rep-message {
    width: 100%;
    background-color: wheat;
    padding: 2px;
}