img {
    width: 300px;
    height: auto;
    background-size: cover;
}
body {
    background: url(../images/mobilebackground-01.png) no-repeat center center fixed;
}

.solo-sales-rep-profile-container {
    text-align: center;
    font-family: 'Kanit';
}

.profile-photo-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

/* .sales-rep-pic {
    background-image: url('../images/DSC_0077.jpg');
    width: 300px;
    height: 400px;
    background-size: cover;
} */

.sales-rep-name-container {
    position: absolute;
    bottom: 0;
    margin-right: auto;
    padding: 0 0 5px 5px;
    font-size: 25px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(131,131,131,1) 56%, rgba(255,255,255,0) 100%);
    width: 100%;
}

.sales-rep-name {
    text-align: left;
    color: var(--white);
}

.profile-container {
    width: 300px;
    height: auto;
    margin: 32px auto;
    border: solid 8px var(--black);

}

.sales-rep-message {
    width: 100%;
    background-color: var(--filler);
    /* padding: 12px 2px 4px 2px; */
    /* margin-top: -12px; */
    border-radius: 10px;
    padding: 10px 0 5px 0;
    margin-top: -5px;
}

.sales-rep-contact-button {
    background-color: var(--highlights);
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    margin: 10px auto;
    font-size: 25px;
    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
}

.sales-rep-contact-button a {
    color: var(--white);
}

.sales-rep-contact-button:hover {
    background-color: var(--highlights-hover);
}

.selling-car-header {
    margin: 0 auto;
    margin-top: 8px;
    background: var(--primary);
    width: fit-content;
    padding: 5px;
    border: black solid 1px;
}

@media screen and (min-height: 600px) {
    body {
        background: url(../images/backgroundtablet-01.jpg) no-repeat center center fixed;
    }
}

@media screen and (min-width:700px) and (max-width:705px) {
    .sales-about {
        font-size: 12px;
    }
}

@media screen and (min-width: 700px) {
    body {
        background: url(../images/backgroundtablet-01.jpg) no-repeat center center fixed;
    }
    .solo-sales-rep-profile-container {
        margin-top: 6px;
    }
    .profile-container {
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    .sales-rep-message {
        padding: 0;
        height: auto;
        margin-top: 0;
        padding-left: 10px;
        padding-right: 2px;
        margin-left: -7px;
    }
    .sales-about {
        padding: 3px;
        margin-top: 20px;
        font-size: 15px;
    }
    .sales-rep-contact-button {
        margin-top: 30px;
        
    }
    .car-container-salesman {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .car-preview-container {
        width: 30%;
        height: auto;
    }
}

@media screen and (min-width: 960px){
    body {
        background: url(../images/desktopbackground.jpg) no-repeat center center fixed;
    }
    .profile-container {
        width: 70%;
    }
    .sales-about {
        font-size: 17px;
    }
    .sales-rep-contact-button {
        margin-top: 50px;
    }
}

@media screen and (min-width: 1400px){
    .profile-container {
        width: 50%;
    }
    .sales-about {
        font-size: 20px;
    }
}