img {
    width: 300px;
    height: auto;
    background-size: cover;
}
body {
    background-color: white;
}

.solo-sales-rep-profile-container {
    text-align: center;
    font-family: 'Kanit';
}

.profile-photo-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

/* .sales-rep-pic {
    background-image: url('../images/DSC_0077.jpg');
    width: 300px;
    height: 400px;
    background-size: cover;
} */

.sales-rep-name-container {
    position: absolute;
    bottom: 0;
    margin-right: auto;
    padding: 0 0 5px 5px;
    font-size: 25px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(131,131,131,1) 56%, rgba(255,255,255,0) 100%);
    width: 100%;
}

.sales-rep-name {
    text-align: left;
    color: white;
}

.profile-container {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.sales-rep-message {
    width: 100%;
    background-color: wheat;
    padding: 12px 2px 4px 2px;
    margin-top: -12px;
    border-radius: 10px;
}

.sales-rep-contact-button {
    background-color: var(--purple);
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    margin: 10px auto;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.sales-rep-contact-button:hover {
    background-color: #7453a0;
}

@media screen and (min-width: 700px) {
    
}