/* css for the sales rep page */
body {
    background-color: whitesmoke;
}
.sales-rep-top {
    text-align: center;
    font-family: 'Kanit';
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.sales-rep-header {
    width: fit-content;
    height: auto;
    margin: 0 auto;
}

.background-selector {
    background-color: var(--purple);
    padding-top: 25px;
    padding-bottom: 100px;
}

.sales-rep-profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    width: 80%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
}

/* Css for the profile views of the sales rep */
img { 
    width: 225px;
    height: auto;
}

@media screen and (min-height:1000px) {
    img {
        width: 300px;
        height: auto;
    }
}

.sales-rep-container {
    text-align: center;
    width: fit-content;
    height: auto;
    margin: 15px auto;
    position: relative;
    font-family: 'Kanit';
}


.rep-info {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: auto;
}

.popup-on-hover {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}

.popup-on-hover a {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.pop-up-overlay {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.sales-rep-container:hover .pop-up-overlay {
    background-color: rgba(239, 239, 240, .5);
    opacity: 1;
    z-index: 2;
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.sales-rep-container:hover .popup-on-hover{
    opacity: 1;
    z-index: 3;
}


.sales-rep-page-button {
    position: relative;
    z-index: 1;
}