* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/background-jz.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.testContainer {
    height: 100%;
    width: 100%;
}

.sign-UI-container {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    min-width: 300px !important;
    width: 400px;
    height: auto;
}

.form-area {
    background: whitesmoke;
    border-radius: 12px;
    width: fit-content;
    height: auto;
    padding: 15px;
}