* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/background-jz.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sign-UI-container {
    display: block;
    text-align: center;
    height: auto;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.form-area {
    background: whitesmoke;
    border-radius: 12px;
    width: 100%;
    height: auto;
    padding: 15px;
    font-family: 'Kanit';
}

.logo {
    text-align: left;
    margin-bottom: 15px;
}

.form-input-header {
    font-size: 2rem;
    font-weight: 200;
}

.form-input div {
    margin-bottom: 10px;
}

.form-input-area input {
    width: 80%;
    height: auto;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 3px 6px;
    background: inherit;
}

.form-input input:focus {
    background-image: linear-gradient(to right, rgba(90, 86, 86, 0), rgba(90, 86, 86, 1));
    outline: none;
}

.form-input input:-internal-autofill-selected {
    background-image: linear-gradient(to right, rgba(90, 86, 86, 0), rgba(90, 86, 86, 1)) !important;
    background-color: none !important;
}
