/* Sets up boiler plate for css file */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar-thumb {
    background: var(--highlights);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--highlights-hover);
}

body {
    background-color: var(--filler);
}

nav {
    /* background: transparent; */
    background-color: var(--primary);
    padding: 0 15px;
    z-index: 1;
}
a {
    color: var(--black);
    text-decoration: none;
    font-family: 'Kanit';
}
.list-container,
.submenu {   
    list-style-type: none;
}
.logo, #logoContainer{
    padding-left: 7.5px;
    padding-right: 10px;
}
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: var(--white);
    cursor: pointer;
}
.sign-up a {
    background-color: var(--highlights) !important;
    color: var(--white);
}
.log-in a {
    border: none !important;
}

/* Mobile menu */
.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.list-container li a {
    display: block;
    padding: 15px 5px;
}
#logoContainer {
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    margin: auto;
}
.list-container li.subitem a {
    padding: 15px;
}
@media all and (min-width: 700px) {
    .log-in a {
        color: var(--white);
    }
}

.hamburger-button {
    order: 1;
    font-size: 20px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
.button.sign-up { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

.hamburger-button i {
    font-size: 40px;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
    z-index: 999;
}
.submenu-active .submenu {
   display: block;
   margin: 0;
}
.with-submenu i {
    font-size: 12px;
}
.with-submenu > a::after {
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: var(--white);
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
    color: var(--white);
}
.submenu-active {
    background-color: var(--highlights);
    border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .list-container {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .hamburger-button {
        flex: 1;
        text-align: right;
        order: 2;
    }
    /* Button up from tablet screen */
    .list-container li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .button a {
        background: var(--highlights);
        border: 1px rgb(21, 22, 26) solid;
    }
    .button.sign-up {
        border: 0;
    }
    .button.sign-up a {
        background: transparent;
        border: 1px var(--highlights) solid;  
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.sign-up) a:hover {
        background: var(--highlights-hover);
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .list-container {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
        padding-left: 7.5px;
        padding-right: 10px;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .button {
        order: 2;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: var(--highlights);
    }
    .hamburger-button {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
}

/* Footer */

.footer-container {
    background-color: var(--primary);
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: 'Kanit';
    z-index: 1;
}

#footerLogo {
    padding: 5px;
}

.footer-text {
    font-size: x-large;
    color: var(--black);
    font-weight: bold;
}
#slogan, #location {
    padding: 10px;
}

#footerMenu {
    font-size: 40px;
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.fmenu-item {
    margin-top: -5px;
    /* set to flex box then make it two rows and three columns */
}

.fmenu-item a {
    color: var(--black);
}

.fmenu-item:hover a {
    /* background-color: var(--highlights-hover);
    padding: 7px;
    border-radius: 10px; */
    color: var(--highlights);
}

.additional-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Css for the newsletter subscribe button */
.setup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#socialMediaLinks {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: 8px;
    margin-top: 5px;
}

#legalLinks {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}

.bottom-link-divider {
    color: black;
}

.footer-bottom-links {
    margin-left: 4px;
}

#footerMenu {
    display: grid;
}

@media all and (min-width: 776px) {
    #footerMenu {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media all and (min-width: 1200px) {
    #footerMenu {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 1200px;
        margin: auto;
    }
}

.subitem:hover {
    background-color: var(--highlights-hover);
}

.submenu-active a {
    color: var(--white);
}


/* https://getwaves.io/ */