
:root {
    /* Breakpoints 512px 768px 992px 1200px */
    /* --grey: #1f1e26;
    --purple: #582c8e;
    --teal: #00DCDC;
    --yellow: #f7ff86; */
    --grey: #1f1e26;
    --purple: #f5c2ee;
    --teal: #cb0606;
    --yellow: #0c1e2c;
    --secondaryPrime: #fdf2e2;

    --primary: #f5c2ee;
    --filler: rgb(236, 212, 169);
    --highlights: rgb(158, 18, 158);
    --highlights-hover: rgb(204, 53, 204);
    --black: black;
    --white: white;
    --red: red;
    --green: green;
 }
