.loan-container {
   text-align: center;
}

.loan-info-container {
    background-color: var(--teal);
    border-radius: 10px;
    font-family: 'Kanit';
    margin: 10px auto;
    height: auto;
    width: 95%;
    text-align: center;
}

.loan-input {
    display: grid;

}

.loan-box-spacing {
    margin: 8px 8px 8px 8px;
}


.input-boxes {
    display: inline;
}

.info-box-spacing .info-label{
    margin: 8px 8px 8px 8px;
}

