/* Sets up boiler plate for css file */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background: var(--purple);
    padding: 0 15px;
}
a {
    color: var(--yellow);
    text-decoration: none;
    font-family: 'Kanit';
}
.list-container,
.submenu {   
    list-style-type: none;
}
.logo, #logoContainer{
    padding-left: 7.5px;
    padding-right: 10px;
}
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: white;
}

/* Mobile menu */
.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.list-container li a {
    display: block;
    padding: 15px 5px;
}
#logoContainer {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
}
.list-container li.subitem a {
    padding: 15px;
}
.hamburger-button {
    order: 1;
    font-size: 20px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
.button.sign-up { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.with-submenu i {
    font-size: 12px;
}
.with-submenu > a::after {
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: white;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: rgb(228, 228, 228);
    border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .list-container {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .hamburger-button {
        flex: 1;
        text-align: right;
        order: 2;
    }
    /* Button up from tablet screen */
    .list-container li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .button a {
        background: var(--teal);
        border: 1px rgb(21, 22, 26) solid;
    }
    .button.sign-up {
        border: 0;
    }
    .button.sign-up a {
        background: transparent;
        border: 1px var(--teal) solid;  
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.sign-up) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .list-container {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
        padding-left: 7.5px;
        padding-right: 10px;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .button {
        order: 2;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }
    .hamburger-button {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
}

/* Footer */

.footer-container {
    background-color: rgba(88, 44, 142, .9);
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: 'Kanit';
}

#footerLogo {
    padding: 5px;
}

.footer-text {
    font-size: x-large;
    color: black;
    font-weight: bold;
}
#slogan, #location {
    padding: 10px;
}

#footerMenu {
    font-size: 40px;
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.fmenu-item {
    margin-top: -5px;
    /* set to flex box then make it two rows and three columns */
}

.fmenu-item:hover {
    background-color: black;
    padding: 7px;
    border-radius: 10px;
}

.additional-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#additionalInfoHeader {
    color: var(--yellow);
    font-size: large;
    padding-bottom: 4px;
}
/* Css for the newsletter subscribe button */
.setup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.subscribe-email-container {
    width: 19rem;
    height: 5rem;
    padding: 12px;
    background-color: white;
    text-align: center;
    border-radius: 3rem;
    overflow: hidden;
    transition: width .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.subscribe-email-container>#singularForm {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}
.subscribe-email-container>#singularForm button {
    width: 9rem;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}
.subscribe-email-container>#singularForm>button#subs {
    padding: 0;
    width: 100%;
    color: #fbb016;
    background-color: transparent;
    z-index: 3;
    font-size: 2rem;
    font-weight: bold;
}
.subscribe-email-container>#singularForm>#emailInput {
    z-index: 2;
}
.subscribe-email-container>#singularForm>#emailInput>input {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 26% 0 3%;
    opacity: 0;
    transform: scale(0);
    transition: all .6s ease .4s;
    font-size: 2rem;
    font-weight: bold;
}
.subscribe-email-container>#singularForm>#emailInput>button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fbb016;
    color: white;
    opacity: 0;
    transform: scale(0);
    transition: all .6s ease .4s;
    font-size: 2rem;
    font-weight: bold;
}
.subscribe-email-container>#singularForm>#success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbb016;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1;
}
.subscribe-email-container>#singularForm>button#subs,
.subscribe-email-container>#singularForm>#emailInput,
.subscribe-email-container>#singularForm>#success {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0);
    opacity: 0;
}
.subscribe-email-container>#singularForm>button#subs {
    transition: all .6s ease;
}
.subscribe-email-container>#singularForm>#emailInput {
    transform: scale(1);
    opacity: 1;
    transition: all .6s ease .4s;
}
 
.subscribe-email-container>#singularForm>#success {
    transition: all .2s ease .6s;
}
.subscribe-email-container>#singularForm>button#subs.shown,
.subscribe-email-container>#singularForm>#emailInput.shown,
.subscribe-email-container>#singularForm>#success.shown,
.subscribe-email-container>#singularForm>#emailInput>button.shown,
.subscribe-email-container>#singularForm>#emailInput>input.shown {
    transform: scale(1);
    opacity: 1;
}


#socialMediaLinks {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: 8px;
}

#legalLinks {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.bottom-link-divider {
    color: black;
}

.footer-bottom-links {
    margin-left: 4px;
}