/* Sets up boiler plate for css file */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: var(--grey);
    overflow: hidden;
}

.navbar ul {
    padding-left: 50%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    padding: 20px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover:not(.accountButton) {
    background-color: #ddd;
    color: black;
}

/* specific design for the log in/sign up button */
.loginBackground {
    background-color: var(--purple);
    border-radius: 50%;
    width: 140px;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav #poop {
    display: none;
    font-size: 480px;
    color: white;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

