

<div class="car-preview-container">
    <div class="car-preview-top-banner">
        <h2 class="car-preview-title">{{car.year}} {{ car.oem }}, {{ car.model }}</h2>
        <!-- favorite -->
        {% if current_user.is_anonymous %} 
            {% if sales_rep %}
                <button class="favorite-button" onclick="location.href = `{{ url_for('login', next=url_for(request.endpoint, sales_rep_id=sales_rep.user.id)) }}`"><i class="material-icons favorite">bookmark_add</i></button> 
            {% else %}
                <button class="favorite-button" onclick="location.href = `{{ url_for('login', next=url_for(request.endpoint)) }}`"><i class="material-icons favorite">bookmark_add</i></button>
            {% endif %}
        {% else %}
            {% if car.is_favorited_by_user(current_user.get_id()) %} 
                <button class="favorite-button" onclick="previewUnfavoriteCar(this)" carid={{car.id}} id="carUnfavorite{{car.id}}"><i class="material-icons unfavorite">bookmark_remove</i></button>
            {% else %} 
                <button class="favorite-button" onclick="previewFavoriteCar(this)" carid={{car.id}} id="carFavorite{{car.id}}"><i class="material-icons favorite">bookmark_add</i></button>
            {% endif %}
        {% endif %}
    </div>

    <!-- image THIS IS THE PROBLEM-->
    {% set cover = car.get_cover_image() %}
    {% if cover %}
        <img class="car-preview-cover-img" src="{{ cover.link }}" alt="ERROR: {{ cover }}">
    {% else %} 
        <p>ERROR: No Images</p>
    {% endif %}


    <!-- sales -->
    <!-- {% if car.sales_rep_id != -1 %} 
        <a href="{{ url_for('individual_sales_representative', sales_rep_id=car.sales_rep_id) }}">YO THERS A SALES DOOD VIEW HIM</a>
    {% endif %} -->
    <div class="car-preview-bottom-banner">
        <span class="currency">{{ car.price }}</span>
        <a href="{{ url_for('car', id=car.id) }}">View This Car</a>
    </div>
    
</div>
