
<style>
    .card {
        background: #f5c2ee;
        color: #333;
        margin: auto;
        width: 90%;
        max-width: 50rem;
        min-height: 30rem;
        border-radius: 2rem;
        margin-bottom: 32px;
    }
    
    .hero {
        display: flex;
        justify-content: center;
        transform: translateY(-55%);
    }
    .hero .img {
        filter: drop-shadow(0rem 1.5rem rgba(0,0,0,0.1));
        transition: 0.3s ease-out;
    }
    .card:hover .img {
        filter: drop-shadow(0rem 2.5rem rgba(0,0,0,0.1));
    }
    
    .title {
        text-align: center;
        font-size: 5rem;
        padding: 1rem;
    }
    
    .acc-container {
        padding: 4rem 2rem;
    }
    .acc-btn {
        width: 100%;
        padding: 1.6rem 2rem;
        font-size: 1.6rem;
        cursor: pointer;
        background: inherit;
        border: none;
        outline: none;
        text-align: left;
        transition: all 0.5s linear;
    }
    .acc-btn:after {
        content: "\27A4";
        color: var(--highlights);
        float: right;
        transition: all 0.3s linear;
    }
    .acc-btn.is-open:after {
        transform: rotate(90deg);
    }
    .acc-btn:hover, .acc-btn.is-open {
        color: #000;
        font-weight: bold;
    }
    
    .acc-content {
        max-height: 0;
        color: rgba(0,0,0,0.75);
        font-size: 1.5rem;
        margin: 0 2rem;
        padding-left: 1rem;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        border-bottom: 1px solid #131313;
    }
</style>

<main class="card">
  
    <h2 class="title">FAQ</h2>
  
    <div class="acc-container">
  
      <button class="acc-btn">What is a JDM car?</button>
      <div class="acc-content">
        <p>
          JDM stands for Japanese Domestic Market, which refers to vehicles that are specifically manufactured for the Japanese market. These cars are typically right-hand drive and have unique features not found in cars sold in other markets.
        </p>
      </div>
  
      <button class="acc-btn">
        Are JDM cars legal in the United States?
      </button>
      <div class="acc-content">
        <p>
          Yes, JDM cars can be imported and registered in the United States, but there are certain restrictions and regulations that must be followed. It's important to work with a reputable importer and check the vehicle's compliance with EPA and DOT regulations before making a purchase.
        </p>
      </div>
  
      <button class="acc-btn">
        Can I finance a JDM car purchase?
      </button>
      <div class="acc-content">
        <p>
          Yes, we offer financing options for JDM car purchases. You can use our loan calculator to determine the estimate monthly payments!
        </p>
      </div>
  
      <button class="acc-btn">
        Why should I choose JZ JDM?
      </button>
      <div class="acc-content">
        <p>
          If you're looking to buy a car, JZ JDM could be a great option for you, especially if you're interested in JDM cars. JZ JDM has many trusted sales associates who can guide you through the buying process and help you find the right car for your needs and budget. They can answer any questions you have about the cars they sell, and they can even provide you with a vehicle history report so you can feel confident in your purchase.
        </p>
      </div>
  
      <button class="acc-btn">
        Who founded JZ JDM?
      </button>
      <div class="acc-content">
        <p>
          In 2023, four friends with a passion for JDM cars started a used car business called JZ JDM. With their commitment to customer service and a growing demand for JDM cars in the United States, their business took off. Their hard work and dedication allowed them to achieve the American dream and build a successful business doing what they love.
        </p>
      </div>
  
    </div>
  </main>


<script>
    const btns = document.querySelectorAll(".acc-btn");

// fn
function accordion() {
  // this = the btn | icon & bg changed
  this.classList.toggle("is-open");

  // the acc-content
  const content = this.nextElementSibling;

  // IF open, close | else open
  if (content.style.maxHeight) content.style.maxHeight = null;
  else content.style.maxHeight = content.scrollHeight + "px";
}

// event
btns.forEach((el) => el.addEventListener("click", accordion));
</script>