<style>
    .homepage-links-container > * {
        cursor: pointer;
    }
    @media screen and (min-width: 992px) {
        .homepage-links-container {
            flex-direction: row;
        }
    }
</style>

<div class="homepage-links-container w-fit h-auto mx-auto flex flex-col">
    <div onclick="location.href=`{{ url_for('listings') }}`" class="cars bg-pink rounded-lg relative h-[250px] w-[300px] mb-4 hover:scale-105 shadow-md sm:ml-4">
        <img class="absolute w-full h-full rounded-md" src="{{ url_for('static', filename='images/view-cars-button-01.png') }}" alt="Buy a Car">
        <div class="absolute bottom-0 inset-x-0 ml-2 mb-1 text-black flex font-medium items-center"><span class="text-lg">Click here to browse cars!</span><span class="material-symbols-outlined">open_in_new</span></div>
    </div>
    <div onclick="location.href=`{{ url_for('about') }}`" class="aboutUs bg-pink rounded-lg relative h-[250px] w-[300px] mb-4 hover:scale-105 shadow-md sm:ml-4">
        <img class="absolute w-full h-full rounded-md" src="{{ url_for('static', filename='images/aboutuscompany-01.png') }}" alt="Buy a Car">
        <div class="absolute bottom-0 inset-x-0 ml-2 mb-1 text-black flex font-medium items-center"><span class="text-lg">Click here to learn about Jz JDM!</span><span class="material-symbols-outlined">open_in_new</span></div>
    </div>
    <div onclick="location.href=`{{ url_for('sales_representatives') }}`" class="contactUs bg-pink rounded-lg relative h-[250px] w-[300px] mb-4 hover:scale-105 shadow-md sm:ml-4 ">
        <img class="absolute w-full h-full rounded-md" src="{{ url_for('static', filename='images/salesrepbutton-01.png') }}" alt="Buy a Car">
        <div class="absolute bottom-0 inset-x-0 ml-2 mb-1 text-black flex font-medium items-center"><span class="text-lg">Click here to view Sales Reps!</span><span class="material-symbols-outlined">open_in_new</span></div>
    </div>
</div>