<!-- <style>
    
    .hours {
        
    }

    .hours-header {
        font-size: 2em;
        text-align: center;
    }

    .open-status {
        font-size: 1.3em;
    }

    .hours {
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .day-container {
        padding: 12px 0;
    }

    .current-day {
        color: var(--highlights);
    }

    .day {
        display: flex;
        min-width: 300px;
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) {
        .day {
            min-width: 400px;
        }
        .day h2 {
            font-size: 1.2em;
        }
    }

    @media screen and (min-width: 1200px) {
        .day {
            min-width: 460px;
        }
        .day h2 {
            font-size: 1.4em;
        }
    }
</style>

<div class="hours">
    <h1 class="hours-header">Hours of Operation</h1>
    <h2 class="open-status"></h2>
    <div class="day-container">
        <div class="day">
            <h2>Sunday</h2>
            <h2>Closed</h2>
        </div>
        <div class="day">
            <h2>Monday</h2>
            <h2>9am - 6pm</h2>
        </div>
        <div class="day">
            <h2>Tuesday</h2>
            <h2>9am - 6pm</h2>
        </div>
        <div class="day">
            <h2>Wednesday</h2>
            <h2>9am - 6pm</h2>
        </div>
        <div class="day">
            <h2>Thursday</h2>
            <h2>9am - 6pm</h2>
        </div>
        <div class="day">
            <h2>Friday</h2>
            <h2>9am - 6pm</h2>
        </div>
        <div class="day">
            <h2>Saturday</h2>
            <h2>Closed</h2>
        </div>
    </div>
</div> -->

<div class="hours-container">
    <h1>Hours of Operation</h1>
    <h2 class="open-status"></h2>
    <div class="hours">
        <div class="date-container sunday">
            <h3>Sunday</h3>
            <p>Closed</p>
        </div>
        <div class="date-container monday">
            <h3>Monday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container tuesday">
            <h3>Tuesday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container wednesday">
            <h3>Wednesday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container thursday">
            <h3>Thursday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container friday">
            <h3>Friday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container saturday">
            <h3>Saturday</h3>
            <p>Closed</p>
        </div>
    </div>
</div>