<div id="topSearchArea">
    <div id="searchBarContainer">
        <div id="topMessage">
            <h2>Find your Perfect Car Today!</h2>
        </div>
        <div class="carSearchContainer">
            <div id="carSearchBar">
                <div class="search-box">
                    <form id="searchForm" action="" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.search_field(class="search-input") }}
                        {% for error in form.search_field.errors %}
                            <span>[{{ error }}]</span>
                        {% endfor %}
                    </form>
                    <button class="search-btn search-button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="carTypeButtonContainer">
            <li id="carTypeButtons">
                <ul class="carTypeButton">
                    <a href="{{ url_for('listings', q='honda') }}" class="car-button-container">
                        <img src="{{ url_for('static', filename='images/hondaemblembackgroundfix1-01.png') }}" alt="$" class="brandLogo" style="height: 18px; width: 20px; position: relative; top: 2px; right: 3px;">
                        <span class="brandName">
                            Honda
                        </span>
                    </a>
                </ul>
                <ul class="carTypeButton">
                    <a href="{{ url_for('listings', q='mazda') }}" class="car-button-container">
                        <img src="{{ url_for('static', filename='images/mazdaemblem.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px; position: relative; top: 2px; right: 3px;">
                        <span class="brandName">
                            Mazda
                        </span>
                    </a>
                </ul>
                <ul class="carTypeButton">
                    <a href="{{ url_for('listings', q='honda') }}" class="car-button-container">
                        <img src="{{ url_for('static', filename='images/nissanLogo.svg') }}" alt="$" class="brandLogo" style="height: auto; width: 20px; position: relative; top: 2px; right: 3px;">
                        <span class="brandName">
                            Nissan
                        </span>
                    </a>
                </ul>
                <ul class="carTypeButton">
                    <a href="{{ url_for('listings', q='toyota') }}" class="car-button-container">
                        <img src="{{ url_for('static', filename='images/toyotaemblem-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px; position: relative; top: 0px; right: 3px;">
                        <span class="brandName">
                            Toyota
                        </span>
                    </a>
                </ul>
                <ul class="carTypeButton">
                    <a href="{{ url_for('listings', q='subaru') }}" class="car-button-container">
                        <img src="{{ url_for('static', filename='images/subaruemblemtransp.fix-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px; position: relative; top: 0px; right: 3px;">
                        <span class="brandName">
                            Subaru
                        </span>
                    </a>
                </ul>
                <ul class="carTypeButton">
                    <a href="{{ url_for('listings', q='daihatsu') }}" class="car-button-container">
                        <img src="{{ url_for('static', filename='images/daihatsuemblem-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px; position: relative; top: -1px; right: 1px;">
                        <span class="brandName">
                            Daihatsu
                        </span>
                    </a>
                </ul>
                <ul class="carTypeButton">
                    <a href="{{ url_for('listings', q='suzuki') }}" class="car-button-container">
                        <img src="{{ url_for('static', filename='images/suzukiemblem-01.png') }}" alt="$" class="brandLogo" style="height: 18px; width: 20px; position: relative; top: 2px; right: 3px;">
                        <span class="brandName">
                            Suzuki
                        </span>
                    </a>
                </ul>
                <ul class="carTypeButton" id="mitsuSelector">
                    <a href="{{ url_for('listings', q='mitsubishi') }}" class="car-button-container">
                        <img src="{{ url_for('static', filename='images/mitsubishiemblem-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px; position: relative; top: 1px; right: -2px;">
                        <span class="brandName">
                            Mitsubishi
                        </span>
                    </a>
                </ul>
            </li>
        </div>
    </div>
</div>