<link rel="stylesheet" href="{{ url_for('static', filename='css/testimonials.css')}}">

<div  class="testimonials-section">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <input type="radio" name="slider" title="slide5" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">I couldn't be happier with my purchase from JZ JDM. The process was smooth and easy, and the team was knowledgeable and helpful throughout. I'm now cruising around in my dream JDM car, and I have JZ JDM to thank for it!</p>
      <h2 class="slider__caption">Binky Bunkinpatch</h2>
    </div>
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">If you're looking for a high-quality, well-maintained JDM car, JZ JDM is the place to go. They have an impressive selection and the staff is friendly and professional. I highly recommend JZ JDM for anyone in the market for a used JDM car.</p>
      <h2 class="slider__caption">Bojangles McFlufferbutter</h2>
    </div>
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">I had a great experience buying a car from JZ JDM. They were honest and transparent about the car's condition, and even gave me a detailed history report. The car is running perfectly and I'm loving every minute of it. Thanks, JZ JDM!</p>
      <h2 class="slider__caption">Wally Whiskerflop</h2>
    </div>
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">JZ JDM is the real deal. They have a wide range of JDM cars at competitive prices, and their team is extremely knowledgeable about these unique vehicles. If you're in the market for a JDM car, I highly recommend JZ JDM.</p>
      <h2 class="slider__caption">Sassy McSprinkles</h2>
    </div>
    <div class="slider__contents">
      <quote>&rdquo;</quote>
      <p class="slider__txt">I was impressed by the professionalism and expertise of the team at JZ JDM. They were able to answer all of my questions and guide me through the process of buying a JDM car. I'm thrilled with my purchase and would definitely recommend JZ JDM to other car enthusiasts.</p>
      <h2 class="slider__caption">Ziggy ZippyDoodle</h2>
    </div>
  </div>
</div>