{% extends "layout.html" %} 

{% block body %} 

<h1>Adding images to this car</h1>

<a href="{{ url_for('control') }}">Go Back</a>

{% include "_carPreview.html" %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.image1.label }}<br>
        {{ form.image1() }}<br>
        {% for error in form.image1.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.cover_image.label }}<br>
        {{ form.cover_image() }}<br>
        {% for error in form.cover_image.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image2.label }}<br>
        {{ form.image2() }}<br>
        {% for error in form.image2.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image3.label }}<br>
        {{ form.image3() }}<br>
        {% for error in form.image3.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image4.label }}<br>
        {{ form.image4() }}<br>
        {% for error in form.image4.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image5.label }}<br>
        {{ form.image5() }}<br>
        {% for error in form.image5.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image6.label }}<br>
        {{ form.image6() }}<br>
        {% for error in form.image6.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image7.label }}<br>
        {{ form.image7() }}<br>
        {% for error in form.image7.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image8.label }}<br>
        {{ form.image8() }}<br>
        {% for error in form.image8.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image9.label }}<br>
        {{ form.image9() }}<br>
        {% for error in form.image9.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image10.label }}<br>
        {{ form.image10() }}<br>
        {% for error in form.image10.errors %}
            <span>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

<h1>Current images for this car</h1>

{% for image in images %} 
    <img src="{{ image.link }}" alt="{{ image }}">
{% endfor %}

{% endblock %}