{% extends "layout.html" %} 

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/car.css') }}">
{% endblock %} 

{% block js %} 
    <script src="{{ url_for('static', filename='js/carScript.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/price.js')}}" defer></script>
{% endblock %}

{% block body %} 
    <div class="car">
        <div class="car-name">
            <h1>{{ car.year }} {{ car.oem }}, {{ car.model }}</h1>
            {% if current_user.is_anonymous %} 
                {% if sales_rep %}
                    <button class="favorite-button" onclick="location.href = `{{ url_for('login', next=url_for(request.endpoint, sales_rep_id=sales_rep.user.id)) }}`"><i class="material-icons favorite">bookmark_add</i></button> 
                {% elif request.endpoint == 'car' %} 
                    <button class="favorite-button" onclick="location.href = `{{ url_for('login', next=url_for(request.endpoint, id=car.id)) }}`"><i class="material-icons favorite">bookmark_add</i></button>
                {% else %}
                    <button class="favorite-button" onclick="location.href = `{{ url_for('login', next=url_for(request.endpoint)) }}`"><i class="material-icons favorite">bookmark_add</i></button>
                {% endif %}
            {% else %}
                {% if car.is_favorited_by_user(current_user.get_id()) %} 
                    <button class="favorite-button" onclick="previewUnfavoriteCar(this)" carid={{car.id}} id="carUnfavorite{{car.id}}"><i class="material-icons unfavorite">bookmark_remove</i></button>
                {% else %} 
                    <button class="favorite-button" onclick="previewFavoriteCar(this)" carid={{car.id}} id="carFavorite{{car.id}}"><i class="material-icons favorite">bookmark_add</i></button>
                {% endif %}
            {% endif %}
        </div>
        <div class="current-car-image">
            <img class="mx-auto" class="current-image" src="{{ cover_image.link }}" alt="ERROR: {{cover_image}}">
            
        </div>
        <div class="description">
            <p>&emsp; {{car.description}}</p>
        </div>
        <div class="more-images-carousel">
            <h3>More Images</h3>
            <div class="more-images-container flex flex-auto flex-row">
                {% for image in images %}
                    <img class="more-images" src="{{ image.link }}" alt="ERROR: {{ image }}">
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="additional-information">
        <h1>Specification</h1>
        <div class="information-container">
            <div class="info-container">
                <h3>Manufacturer</h3>
                <h2>{{ car.oem }}</h2>
            </div>
            <div class="info-container">
                <h3>Model</h3>
                <h2>{{ car.model }}</h2>
            </div>
            <div class="info-container">
                <h3>Year</h3>
                <h2>{{ car.year }}</h2>
            </div>
            <div class="info-container">
                <h3>Price</h3>
                <h2 class="currency">{{ car.price }}</h2>
            </div>
            <div class="info-container">
                <h3>Mileage</h3>
                <h2>{{ car.mileage }}</h2>
            </div>
            <div class="info-container">
                <h3>Color</h3>
                <h2>{{ car.color }}</h2>
            </div>
            <div class="info-container">
                <h3>Drivetrain</h3>
                <h2>{{ car.drivetrain }}</h2>
            </div>
            {% if car.abs == 1 %}
                <div class="info-container">
                    <h3>ABS</h3>
                    <h2><i class="material-icons">check</i></h2>
                </div>
            {% endif %}
            {% if car.tcs == 1 %}
                <div class="info-container">
                    <h3>TCS</h3>
                    <h2><i class="material-icons">check</i></h2>
                </div>
            {% endif %}
            {% if car.four_wheel_steering == 1 %}
                <div class="info-container">
                    <h2><i class="material-icons">check</i></h2>
                </div>
            {% endif %}
            <div class="info-container">
                <h3># Doors</h3>
                <h2>{{ car.doors }}</h2>
            </div>
            <div class="info-container">
                <h3># Seats</h3>
                <h2>{{ car.seats }}</h2>
            </div>
            <div class="info-container">
                <h3>Horsepower</h3>
                <h2>{{ car.horsepower }}</h2>
            </div>
            <div class="info-container">
                <h3>Torque</h3>
                <h2>{{ car.torque }}</h2>
            </div>
            {% if car.misc %} 
                <div class="info-container">
                    <h3>Miscellaneous</h3>
                    <h2>{{ car.misc }}</h2>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="extra">
        <a href="{{ url_for('loan', price=car.price) }}">Loan Estimate</a>
        {% if car.sales_rep_id != -1 %} 
            <a href="{{ url_for('individual_sales_representative', sales_rep_id=car.sales_rep_id) }}">View Sales Rep</a>
        {% endif %}
    </div>
    <div class="similar-cars">
        <h1>Similar Cars</h1>
        {% for car in similar %} 
            {% include "_carPreview.html" %}            
        {% endfor %}
    </div>
    <div class="bottom-car-gradient"></div>
{% endblock %}