{% extends "layout.html" %} 

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/car.css') }}">
{% endblock %} 

{% block body %} 
    <div class="car">
        <h1>{{ car.year }} {{ car.oem }}, {{ car.model }}</h1>
        <div class="current-car-image">
            <img src="{{ cover_image.link }}" alt="ERROR: {{cover_image}}">
        </div>
        <p>&emsp; {{car.description}}</p>
    </div>
    <!-- loan --> 
    <span>{{ car.description }}</span>
    <span>{{ car.oem }}</span>
    <span>{{ car.model }}</span>
    <span>{{ car.year }}</span>
    <span>{{ car.mileage }}</span>
    <span>{{ car.color }}</span>
    <span>{{ car.drivetrain }}</span>
    <span>{{ car.four_wheel_steering }}</span>
    <span>{{ car.abs }}</span>
    <span>{{ car.tcs }}</span>
    <span>{{ car.doors }}</span>
    <span>{{ car.seats }}</span>
    <span>{{ car.horsepower }}</span>
    <span>{{ car.torque }}</span>
    <span>{{ car.misc }}</span>


    <a href="{{ url_for('loan', price=car.price) }}">Get a loan estimate for this car</a>

    <h1 class="test">Similar</h1>

    {% for car in similar %} 
        {% include "_carPreview.html" %} 
    {% endfor %}
{% endblock %}