{% extends "layout.html" %} 

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/contactUs.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/contactUs.js')}}" defer></script>
{% endblock %}

{% block seo %} 

{% endblock %}

{% block body %}


<body class="bg-white">
    <!-- w-full sm:mr-8 sm:align-top     -->
</body>
<div>
    <div class="flex flex-col md:flex-row sm:w-full gap-y-7 sm:justify-around sm:mx-auto mt-10 ">
        <div class="h-[470px] w-[300px] mx-auto md:mx-0 md:w-[400px] lg:w-[500px] sm:max-w-[50%] sm:inline-block">
            <div class="flip-card-3D-wrapper">
                <div id="flip-card">
                    <div class="flip-card-front"><p>Our team is dedicated to making your experience here at JZ JDM as smooth and enjoyable as possible. If you need help with a specific problem or would like to leave a suggestion feel free to fill out our contact us form below. Our dedicated sales team will diligently to get back to you as soon as possible.</p><button id="flip-card-btn-turn-to-back">Fill out a Contact Us Form!</button></div>
                    <div class="flip-card-back">
                        <form action="" method="post" class="grid grid-flow-row gap-y-6 auto-rows-auto items-center mt-[38px]">
                            {{ form.hidden_tag() }}
                            
                            <div class="form__group field">
                                <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                                <label for="name" class="form__label">Name</label>
                            </div>
                           
                            <div class="form__group field">
                                
                                {{ form.email() }}
                                <label for="email" class="form__label">Email</label>
                                <div class="form-input-error">
                                    {% for error in form.email.errors %}
                                        <span>[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                
                            </div>
                            <div>
                                <label for="issue-type">Type of Issue</label>
                                <select name="issue-type" id="issueType">
                                    <option value="1">Website</option>
                                    <option value="2">Customer Relations</option>
                                    <option value="3">Suggestions</option>
                                    <option value="4">Other</option>
                                </select>
                            </div>
                            <div class="form-input">
                            
                                <div class="input-container" id="formInputContact">
                                    {{ form.message() }}<br>
                                </div>
                                <div class="form-input-error">
                                    {% for error in form.message.errors %}
                                        <span>[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                
                            </div>
                            <div class="form-submit bg-white rounded w-fit mx-auto p-1 cursor-pointer">
                                
                                {{ form.submit() }}
                                
                            </div>
                        </form>
                    <button id="flip-card-btn-turn-to-front"></button></div>
                </div>
            </div>
        </div>
        <div>
            <div class="w-fit bg-pink/75 rounded mx-auto mb-3 px-3">
                <div class="w-[95%] text-center mx-auto">
                    <p class="text-3xl">Want to Talk?</p>
                </div>
                <div class="mx-auto w-fit">
                    <div class="w-auto text-center inline block mr-2">
                        <span class="material-symbols-outlined align-middle">call</span><p class="inline-block align-middle text-lg">319-453-2394</p>
                    </div>
                    <div class="w-auto text-center inline-block">
                        <span class="material-symbols-outlined align-middle">mail</span><p class="inline-block align-middle text-lg pb-1">support@jzjdm.co</p>
                    </div>
                </div>
            </div>
            <div class="text-center mb-4">
                <iframe class="block mx-auto w-[300px] h-[200px] sm:w-[375px] sm:h-[335px] md:w-[425px] md:h-[375px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6455366.060019486!2d-91.64454115465672!3d37.812667698656256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880619982446d5dd%3A0xe1f4f567fcf597d0!2sJDM%20Auto%20Imports%20LLC!5e0!3m2!1sen!2sus!4v1678729232932!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Contact us information -->
    <!-- FAQ section -->
    {% include "_faq.html" %}
</div>

<script type='text/javascript'>
    (function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'q4egmrY3hCRu8qXBi_c', {});
</script>
{% endblock %}