{% extends "layout.html" %} 
{% block js %}
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/listingsScript.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/asyncRequests.js') }}" defer></script>
{% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}


{% block body %}
<div class="h-screen w-full">
    <section class="content-section col1">
        {% include "_search.html" %}
    </section>
</div>
<section class="empty-section"></section>
<div class="h-screen w-full">
    <section class="content-section col1">
        <div class="container">
            <h1>View Our Newest Cars</h1>
            <div class="carousel">
                <div class="carousel-prev"><i class="material-icons" style="position:relative;top:5px;">chevron_left</i></div>
                <div class="carousel-next"><i class="material-icons" style="position:relative;top:5px;">chevron_right</i></div>
                <ul class="carousel-pagination">
                    <li class="carousel-bullet"></li>
                    <li class="carousel-bullet"></li>
                    <li class="carousel-bullet"></li>
                    <li class="carousel-bullet"></li>
                    <li class="carousel-bullet"></li>
                </ul>
                <ul class="carousel-container">
                    {% for car in carousel_cars %} 
                        <div class="carousel-item">
                            <h2 class="car-title">{{car.year}} {{ car.oem }}, {{ car.model }}</h2>
                            <img onclick="location.href = `{{ url_for('car', id=car.id) }}`" src="{{ car.get_cover_image().link }}" alt="ERROR">
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- <div class="curve"></div> -->
    </section>
</div>


<section class="empty-section"></section>


<section class="content-section col1">
    <div class="quick-links">
        <div class="link-container">
            <div class="another-container">
                <h2>View Cars</h2>
                <div class="non-heading-box">
                    <div class="mini-image">
                        <img class="mx-auto" src="{{ url_for('static', filename='images/view-cars-button-01.png') }}" alt="Car">
                    </div>
                    <a href="{{ url_for('listings') }}">Go!</a>
                </div>
            </div>
        </div>
        <div class="link-container">
            <div class="another-container">
                <h2>Meet a Sales Representative</h2>
                <div class="non-heading-box">
                    <div class="mini-image">
                        <img class="mx-auto" src="{{ url_for('static', filename='images/salesrepbutton-01.png') }}" alt="Car">
                    </div>
                    <a href="{{ url_for('sales_representatives') }}">Go!</a>
                </div>
            </div>
        </div>
        <div class="link-container">
            <div class="another-container">
                <h2>Learn More about Us</h2>
                <div class="mini-image">
                    <img class="mx-auto" src="{{ url_for('static', filename='images/aboutuscompany-01.png') }}" alt="Car">
                </div>
                <a href="{{ url_for('about') }}">Go!</a>
            </div>
        </div>
    </div>
    <div class="hours-container">
        <h1>Hours of Operation</h1>
        <h2 class="open-status"></h2>
        <div class="hours">
            <div class="date-container sunday">
                <h3>Sunday</h3>
                <p>Closed</p>
            </div>
            <div class="date-container monday">
                <h3>Monday</h3>
                <p>9am - 6pm</p>
            </div>
            <div class="date-container tuesday">
                <h3>Tuesday</h3>
                <p>9am - 6pm</p>
            </div>
            <div class="date-container wednesday">
                <h3>Wednesday</h3>
                <p>9am - 6pm</p>
            </div>
            <div class="date-container thursday">
                <h3>Thursday</h3>
                <p>9am - 6pm</p>
            </div>
            <div class="date-container friday">
                <h3>Friday</h3>
                <p>9am - 6pm</p>
            </div>
            <div class="date-container saturday">
                <h3>Saturday</h3>
                <p>Closed</p>
            </div>
        </div>
    </div>
</section>
<div class="bottom-gradient"></div>

<!-- <svg width="500" height="80" viewBox="0 0 500 80" preserveAspectRatio="none">
    <path d="M0,0 L0,40 Q250,80 500,40 L500,0 Z" fill="black" />
</svg> -->
<!-- Start of HubSpot Embed Code -->
<!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/23907959.js"></script> -->
<!-- End of HubSpot Embed Code -->
                        
<script type='text/javascript'>
    (function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'q4egmrY3hCRu8qXBi_c', {});
</script>
                
{% endblock %}