{% extends "layout.html" %} 
{% block js %}
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/asyncRequests.js') }}" defer></script>
{% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}


{% block body %} 
<h1>Welcome to test<img src="{{ url_for('static', filename='images/logoPlaceholder.png') }}" alt=""> Jdm</h1>
{% include "_search.html" %}
<div class="carousel">
    <h1>View our Newest Cars</h1>
    <div class="carousel-content">
        <i id="carouselLeft" class="material-icons">chevron_left</i>
        <div class="carousel-cars">
            {% for car in carousel_cars %} 
                {% include "_carPreview.html" %}
            {% endfor %}
        </div>
        <i id="carouselRight" class="material-icons">chevron_right</i>
    </div>
</div>


<br>
<!-- Container for the company values -->
<section class="company-values-container">
    <div class="company-value" id="customerSupport">
        <h2>Superb Customer Service</h2>
        <!-- need images for all the values -->
    </div>
    <div class="company-value" id="qualityAssurance">
        <h2>Quality Assurance</h2>
    </div>
    <div class="company-value" id="competitivePrices">
        <h2>Competitive Prices</h2>
    </div>
</section>

<div class="three-converging-lines">
    <p>the lines that look cool will go here</p>
</div>

<div class="logo">
    <p>Logo will go here underneath the lines</p>
</div>

<div class="mission-statement">
    
</div>

<div class="hours-container">
    <h1>Hours of Operation</h1>
    <h2 class="open-status"></h2>
    <div class="hours">
        <div class="date-container sunday">
            <h3>Sunday</h3>
            <p>Closed</p>
        </div>
        <div class="date-container monday">
            <h3>Monday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container tuesday">
            <h3>Tuesday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container wednesday">
            <h3>Wednesday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container thursday">
            <h3>Thursday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container friday">
            <h3>Friday</h3>
            <p>9am - 6pm</p>
        </div>
        <div class="date-container saturday">
            <h3>9am - 5pm</h3>
            <p>Closed</p>
        </div>

    </div>
</div>

    

{% endblock %}