{% extends "layout.html" %} 
{% block js %}
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/listingsScript.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/asyncRequests.js') }}" defer></script>
{% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css')}}">
{% endblock %}


{% block body %}

<section class="hero">
    <div class="hero-container">
        <div class="welcome text-2xl sm:text-5xl mb-2 font-extrabold">
            <p class="bg-clip-text text-black/0 bg-gradient-to-br from-blue via-button to-black">Welcome to JZ JDM!</p>
        </div>
        {% include "_search.html" %}
    </div>
</section>
<section class="carousel">
    <h1 class="carousel-header">View Our Newest Cars</h1>
    {% include "_carousel.html" %}
</section>
<section class="links">
    <h1 class="links-header">Important Links</h1>
    {% include "_homepagelinks.html" %}
</section>
<section class="testimonials">
    {% include "_testimonials.html" %}
</section>
<section class="section-hours">
    {% include "_hours.html" %}
</section>


<!-- <svg width="500" height="80" viewBox="0 0 500 80" preserveAspectRatio="none">
    <path d="M0,0 L0,40 Q250,80 500,40 L500,0 Z" fill="black" />
</svg> -->
<!-- Start of HubSpot Embed Code -->
<!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/23907959.js"></script> -->
<!-- End of HubSpot Embed Code -->
                        
<script type='text/javascript'>
    (function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'q4egmrY3hCRu8qXBi_c', {});
</script>
                
{% endblock %}