{% extends "layout.html" %} 

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/salesRepProfilePage.css') }}">
{% endblock %}

{% block body %} 
    <div class="solo-sales-rep-profile-container">
        <a href="{{ url_for('sales_representatives') }}">Go Back</a>
        <div class="profile-container">
            <div class="profile-photo-container">
                <div class="sales-rep-pic">
                    <img src="{{ sales_rep.image_link }}" alt="Profile Photo" cover>
                </div>
                <div class="sales-rep-name-container">
                    <div class="sales-rep-name">
                        {{ sales_rep.user.username }}
                    </div>
                </div>
            </div>
            <div class="sales-rep-message">
                {{ sales_rep.about }}
            </div>
        </div>
        
        <a href="{{ url_for('message_sales_rep', sales_rep_id=sales_rep.user.id) }}">Message</a>
    </div>
    {% for car in cars %} 
        {% include "_carPreview.html" %} 
    {% endfor %}
{% endblock %}