{% extends "layout.html" %} 

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/salesRepProfilePage.css') }}">
{% endblock %}

{% block body %} 
    <div class="solo-sales-rep-profile-container">
        <div class="profile-container">
            <div class="profile-photo-container">
                <div class="sales-rep-pic" style="background-image: url('{{ sales_rep.image_link }}'); width: 300px; height: 400px; background-size: cover;">
                    <!-- <img src="{{ sales_rep.image_link }}" alt="Profile Photo"> -->
                </div>
                <div class="sales-rep-name-container">
                    <div class="sales-rep-name">
                        {{ sales_rep.user.username }}
                    </div>
                </div>
            </div>
            <div class="sales-rep-message">
                <div class="sales-about">
                    {{ sales_rep.about }}
                </div>
                <div class="sales-rep-contact-button">
                    <a href="{{ url_for('message_sales_rep', sales_rep_id=sales_rep.user.id) }}">Message</a>
                </div>
            </div>
        </div>
    </div>
    <h1 class="selling-car-header">Cars {{sales_rep.user.username}} is Selling</h1>
    <div class="car-container-salesman">
        {% for car in cars %} 
            
            {% include "_carPreview.html" %} 

        {% endfor %}
    </div>
{% endblock %}