<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %} 
        <title>{{ title }}</title>
    {% else %} 
        <title>Default Title</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carPreview.css') }}">
    {% block css %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/asyncRequests.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/carPreview.js') }}" defer></script>

    {% block js %} {% endblock %}
</head>
<body>
    <nav class="nav-bar-container">
        <ul class="list-container">
            <li class="logo"><a href="#" id="logoContainer"><img src="{{ url_for('static', filename='images/logoPlaceholder.png') }}" alt="Jz JDM" style="height: auto; max-width: 150px;"></a></li>
            <li class="item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="item"><a href="{{ url_for('listings') }}">Cars</a></li>
            <li class="item"><a href="{{ url_for('loan') }}">Loan Calculator</a></li>
            <li class="item with-submenu">
                <a tabindex="0">Company</a>
                <ul class="submenu">
                    <li class="subitem"><a href="{{ url_for('company') }}">About Us</a></li>
                    <li class="subitem"><a href="{{ url_for('sales_representatives') }}">Sales Representatives</a></li>
                    <li class="subitem"><a href="#">Owners</a></li>
                </ul>
            </li>
            <li class="item"><a href="{{ url_for('contact') }}">Contact Us</a></li>
            {% if current_user.is_anonymous %}
                <li class="item button log-in"><a href="{{ url_for('login') }}">Log In</a></li>
                <li class="item button sign-up"><a href="{{ url_for('register') }}">Sign Up</a></li>
            {% else %} 
                <li class="item button log-in"><a href="{{ url_for('logout') }}">Log Out</a></li>
                <li class="item button log-in"><a href="{{ url_for('profile') }}">Profile</a></li>
            {% endif %}            
            <li class="hamburger-button"><a href="#"><i class="fas fa-bars"></i></a></li>

        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <i></i>
    

    {% block body %} {% endblock %}
    <!-- Footer for each page is here underneath the block body so that this is put at the bottom of each page-->
    <div class="footer-container">
        <div id="footerLogo">
            <img src="{{ url_for('static', filename='images/logoPlaceholder.png') }}" alt="Logo" style="height: auto; width: 200px;">
        </div>
        <div id="footerSections">
            <div class="footer-section">
                <div class="footer-text">
                    <ul id="slogan">
                        Importing quality cars since 2007!
                    </ul>
                    <ul id="location">
                        1945 42nd St NE, Cedar Rapids, IA
                    </ul>
                </div>
            </div>
            <div class="footer-section">
                <ul id="footerMenu">
                    <li class="fmenu-item">
                        <a href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="fmenu-item">
                        <a href="{{ url_for('listings') }}">Car Listings</a>
                    </li>
                    <li class="fmenu-item">
                        <a href="{{ url_for('loan') }}">Loan Calculator</a>
                    </li>
                    <li class="fmenu-item">
                        <a href="{{ url_for('company') }}">Company</a>
                    </li>
                    <li class="fmenu-item">
                        <a href="#">Contact Us</a>
                    </li>
                    <li class="fmenu-item">
                        <a href="{{ url_for('login') }}">Login / Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="footer-section additional-info">
                <div id="newsletter">
                    <div class="setup-container">
                        <div class="subscribe-email-container">
                            <form id="singularForm">
                                <button class="shown" type="button" id="subs">Subscribe</button>
                                <div id="emailInput">
                                    <input type="text" placeholder="E-mail" id="email">
                                    <button type="button" class="addbut1" disabled="disabled">Add Me</button>
                                </div>
                                <div id="success">Congrats!</div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul id="socialMediaLinks">
                    <li class="socialMedia">
                        <a href="#"><img src="{{ url_for('static', filename='images/instagramLogo.png') }}" alt="Instagram" style="height: auto; width: 60px;"></a>
                    </li>
                    <li class="socialMedia">
                        <a href="#"><img src="{{ url_for('static', filename='images/twitterLogo.png') }}" alt="Twitter" style="height: auto; width: 70px;"></a>
                    </li>
                    <li class="socialMedia">
                        <a href="#"><img src="{{ url_for('static', filename='images/facebookLogo.png') }}" alt="Facebook" style="height: auto; width: 60px;"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="footer-bottom">
            <ul id="legalLinks">
                <li class="footer-bottom-links">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="footer-bottom-links">
                    <span class="bottom-link-divider">|</span>
                </li>
                <li class="footer-bottom-links">
                    <a href="#">Accessibility Statement</a>
                </li>
                <li class="footer-bottom-links">
                    <span class="bottom-link-divider">|</span>
                </li>
                <li class="footer-bottom-links">
                    <a href="#">Copyright©</a>
                </li>
            </ul>
        </div>
        <br>
    </div>
</body>
</html>