{% extends "layout.html" %} 
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
{% block js %}
    <script src="{{ url_for('static', filename='js/index.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/listingsScript.js')}}" defer></script>
{% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listingStyle.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block body %} 
    {% include "_search.html" %}
    <div class="car-listings-container">
        {% for car in cars %} 
            {% include "_carPreview.html" %}
        {% endfor %}
    </div>
    <div class="back-forth">
        {% if prev_url %}
            <a href="{{ prev_url }}"><i style="position:relative; top:2px" class="material-icons">arrow_back</i></a>
        {% endif %} 
        {% if next_url %}
            <a href="{{ next_url }}"><i style="position:relative; top:2px" class="material-icons">arrow_forward</i></a>
        {% endif %}
    </div>

    <br>
    <br>
    <br>
{% endblock %}