{% extends "layout.html" %} 
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
{% block js %}
    <script src="../static/js/index.js" defer></script>
{% endblock %}

{% block css %} 
<link rel="stylesheet" href="../static/css/listingStyle.css">
{% endblock %}

{% block body %} 
    <div id="topSearchArea">
        <div id="searchBarContainer">
            <div id="topMessage">
                <Span>Find your Perfect Car Today!</Span>
            </div>
            <div class="carSearchContainer">
                <div id="carSearchBar">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.search_field.label }}<br>
                            {{ form.search_field() }}<br>
                            {% for error in form.search_field.errors %}
                                <span>[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.submit() }}
                        </p>
                    </form>
                    <!-- <span class="material-symbols-outlined search-icons" id="searchIcon">search</span>
                    <input type="text" class="carSearchInput" id="carSearchInputSelector" placeholder="Search Cars...">
                    <div id="clearSearchIcon">
                        <span class="material-symbols-outlined search-icons" id="clearSearchButton">close</span>
                    </div>
                    <div class="carSearchButton">

                    </div> -->
                </div>
            </div>
            <div id="carTypeButtonContainer">
                <li id="carTypeButtons">
                    <ul class="carTypeButton">
                        <a href="#" class="car-button-container">
                            <img src="{{ url_for('static', filename='images/hondaemblembackgroundfix1-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px;">
                            <span class="brandName">
                                Honda
                            </span>
                        </a>
                    </ul>
                    <ul class="carTypeButton">
                        <a href="#" class="car-button-container">
                            <img src="{{ url_for('static', filename='images/mazdaemblem.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px;">
                            <span class="brandName">
                                Mazda
                            </span>
                        </a>
                    </ul>
                    <ul class="carTypeButton">
                        <a href="#" class="car-button-container">
                            <img src="{{ url_for('static', filename='images/nissanLogo.svg') }}" alt="$" class="brandLogo" style="height: auto; width: 20px;">
                            <span class="brandName">
                                Nissan
                            </span>
                        </a>
                    </ul>
                    <ul class="carTypeButton">
                        <a href="#" class="car-button-container">
                            <img src="{{ url_for('static', filename='images/toyotaemblem-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px;">
                            <span class="brandName">
                                Toyota
                            </span>
                        </a>
                    </ul>
                    <ul class="carTypeButton">
                        <a href="#" class="car-button-container">
                            <img src="{{ url_for('static', filename='images/subaruemblemtransp.fix-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px;">
                            <span class="brandName">
                                Subaru
                            </span>
                        </a>
                    </ul>
                    <ul class="carTypeButton">
                        <a href="#" class="car-button-container">
                            <img src="{{ url_for('static', filename='images/daihatsuemblem-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px;">
                            <span class="brandName">
                                Daihatsu
                            </span>
                        </a>
                    </ul>
                    <ul class="carTypeButton">
                        <a href="#" class="car-button-container">
                            <img src="{{ url_for('static', filename='images/suzukiemblem-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px;">
                            <span class="brandName">
                                Suzuki
                            </span>
                        </a>
                    </ul>
                    <ul class="carTypeButton" id="mitsuSelector">
                        <a href="#" class="car-button-container">
                            <img src="{{ url_for('static', filename='images/mitsubishiemblem-01.png') }}" alt="$" class="brandLogo" style="height: auto; width: 20px;">
                            <span class="brandName">
                                Mitsubishi
                            </span>
                        </a>
                    </ul>
                </li>
            </div>
        </div>
        <br>
    </div>
    <div class="car-listings-container">
        {% for car in cars %} 
            {% include "_carPreview.html" %}
        {% endfor %}
    </div>
    {% if prev_url %}
        <a href="{{ prev_url }}">Previous</a>
    {% endif %} 
    {% if next_url %}
        <a href="{{ next_url }}">Next</a>
    {% endif %}
    <br>
    <br>
    <br>
{% endblock %}