{% extends "layout.html" %} 
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
{% block js %}
    <script src="{{ url_for('static', filename='js/index.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/listingsScript.js')}}" defer></script>
{% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listingStyle.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block body %} 
    {% include "_search.html" %}
    <div class="car-listings-container">
        {% for car in cars %} 
            {% include "_carPreview.html" %}
        {% endfor %}
    </div>
    <div class="back-forth">
        {% if prev_url %}
            <a href="{{ prev_url }}"><i style="position:relative; top:2px" class="material-icons">arrow_back</i></a>
        {% endif %} 
        {% if next_url %}
            <a href="{{ next_url }}"><i style="position:relative; top:2px" class="material-icons">arrow_forward</i></a>
        {% endif %}
    </div>

    <br>
    <br>
    <br>
    <script type='text/javascript'>
        (function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'q4egmrY3hCRu8qXBi_c', {});
    </script>
{% endblock %}