{% extends "layout.html" %} 

{% block js %}
    <script src="{{ url_for('static', filename='js/loan.js') }}" defer></script>
{% endblock %}

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/loan.css') }}">
{% endblock %}


{% block body %} 
    <div class="loan-container">
        <div class="loan-info-container loan-input">
            <div class="top-information">
                <span class="info-header">
                    Car Loan Calculator
                </span>
                <span class="info-para">
                    &emsp;Use our Loan Calculator tool to estimate your monthly car loan payments.
                </span>
            </div>
            {% if not price %} 
                {% set price=20000 %} 
            {% endif %}

            <div class="calculator-input">
                <div class="loan-box-spacing loan-price" id="vehicle-price">
                    <span class="box-label loan-label">
                        Vehicle Price
                    </span>
                    <div class="typed-input-price input-boxes">
                        <input type="text" value="{{ price }}" class="input-price typed-inputs" id="priceInput">
                    </div>
                </div>
                <div class="range-slider loan-box-spacing">
                    <input type="range" min="0" max="100000" value="{{ price }}" class="slider-price" id="priceSlider">
                </div>
                <div class="down-payment loan-box-spacing">
                    <span class="box-label">Down Payment</span>
                    <div class="typed-down-payment input-boxes">
                        <input type="text" value="2000" class="down-payment-input typed-inputs" id="downPaymentSelector">
                    </div>
                </div>
                <div class="trade-in-value loan-box-spacing">
                    <span class="box-label">Trade-In Value</span>
                    <div class="typed-in-value input-boxes">
                        <input type="text" value="0" class="trade-in-input typed-inputs" id="tradeInSelector">
                    </div>
                </div>
                <div class="credit-score loan-box-spacing">
                    <!-- using a button with a function it makes a reactive dropdown to select a users credit score -->
                    <span class="box-label">Credit Score</span>
                    <div class="credit-score-dropdown input-boxes">
                        <label for="creditScores" class="dropdownLabels"></label>
                        <div class="dropdowns">
                            <select name="creditScores" id="creditScoreSelector">
                                <option value=".045" class="dropdown-input-buttons" id="excellentCredit">Excellent(720-850)</option>
                                <option value=".075" class="credit-input-buttons" id="goodCredit">Good(660-719)</option>
                                <option value=".129" class="credit-input-buttons" id="averageCredit">Average(600-659)</option>
                                <option value=".174" class="credit-input-buttons" id="belowCredit">Sub Prime(300-599)</option>
                                <span class="focus"></span>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="loan-term loan-box-spacing">
                    <!-- This dropdown is set up the exact same way as the previous dropdown -->
                    <span class="box-label">Loan Term</span>
                    <div class="input-boxes">
                        <label for="loanTerms" class="dropdownLabels"></label>
                        <div class="dropdowns">
                            <select name="loanTerms" id="termDropdownSelector">
                                <option value="72" class="dropdown-input-buttons" id="months72">72 Months</option>
                                <option value="60" class="dropdown-input-buttons" id="months60">60 Months</option>
                                <option value="48" class="dropdown-input-buttons" id="months48">48 Months</option>
                                <option value="36" class="dropdown-input-buttons" id="months36">36 Months</option>
                                <span class="focus"></span>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loan-info-container" id="loadOutput">
            <div class="monthly-pay-container info-box-spacing">
                <span class="monthly-payment-label">Payment Per Month</span>
                <span class="price-per-month" id="monthPriceSelector">
                    $261
                </span>
                <span class="inside-label">/mo</span>
            </div>
            <div class="additional-loan-info-container info-box-spacing">
                <div class="vehicle-budget all-info">
                    <span class="info-label">Vehicle Budget</span><span class="info-amount" id="budgetAmountSelector">$20,000</span>
                </div>
                <div class="down-payment-info all-info">
                    <span class="info-label">Down Payment</span><span class="info-amount" id="downPaymentInfoSelector">-$2,000</span>
                </div>
                <div class="trade-value-info all-info">
                    <span class="info-label">Trade-In Value</span><span class="info-amount" id="tradeValueSelector">$0</span>
                </div>
                <div class="estimate-apr all-info">
                    <span class="info-label">Est. APR by Credit Score</span><span class="info-amount" id="estimateAprSelector">9.09%</span>
                </div>
                <div class="tax-registration all-info">
                    <span class="info-label">Est. Tax and Registration</span><span class="info-amount" id="taxRegistrationSelector">$1,300</span>
                </div>
                <div class="divider-image">
                    <hr>
                </div>
                <div class="total-amount all-info">
                    <span class="info-label">Total Amount</span><span class="info-amount" id="totalAmountSelector">$19,300</span>
                </div>
            </div>
        </div>
        <div class="ready-to-buy loan-info-container">
            <span class="ready-to-buy-label">Are you ready to buy a car?</span>
            <span class="ready-to-buy-para">&emsp;Get in touch with one of our qualified salesmen today to set up an appointment.</span>
            <div class="contact-salesmen-container">
                <a href="{{ url_for('sales_representatives') }}">Connect with a Salesman!</a>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        (function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'q4egmrY3hCRu8qXBi_c', {});
    </script>
{% endblock %}