{% extends "blank.html" %}

{% block js %}
    <script src="{{ url_for('static', filename='js/signInUpscript.js') }}" defer></script>
{% endblock %}

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/signInUp.css') }}">
{% endblock %}

{% block body %} 
    <div class="sign-UI-container">
        <div class="form-area">
            <div class="logo">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logoPlaceholder.png') }}" alt="Logo" style="height: auto; width: 100px;"></a>
            </div>
            <div class="form-input-container">
                <span class="form-input-header">Login To Account</span>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-input">
                        <p>
                            <div class="form-input-label">
                                {{ form.username.label }}
                            </div>
                            <div class="form-input-area">
                                {{ form.username() }}
                            </div>
                            <div class="form-input-error">
                                {% for error in form.username.errors %}
                                    <span>[{{ error }}]</span>
                                {% endfor %}
                            </div>    
                        </p>
                    </div>
                    <div class="form-input">
                        <p>
                            <div class="form-input-label">
                                {{ form.password.label }}
                            </div>
                            <div class="form-input-area">
                                {{ form.password() }}
                            </div>
                            <div class="form-input-error">
                                {% for error in form.password.errors %}
                                    <span>[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </p>
                    </div>
                    <div class="remember-me-checkbox">
                        <p>
                            {{ form.remember_me() }} {{ form.remember_me.label }}
                        </p>
                    </div>
                    <div class="form-submit">
                        <p>
                            {{ form.submit() }}
                        </p>
                    </div>
                </form>
                <div class="form-redirect"></div>
                    <a href="{{ url_for('register') }}">Don't have an account? Create one here.</a>
                </div>
            </div>
        </div>
        <div class="decoration-area">

        </div>
    </div>
{% endblock %}