{% extends "layout.html" %} 

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/owners.css') }}">
{% endblock %}

{% block body %} 
    <div class="owner-container">
        <div class="owner-heading">
            <span>Owners</span>
        </div>
        <div class="owners">
            <div class="solo background-selector">
                <div class="position">
                    <span>Zach Buchholz</span>
                    <p>Backend Developer</p>
                </div>
                <div class="portraits">
                    <img src="{{ url_for('static', filename='images/zachPortrait.jpg') }}" alt="Portrait">
                </div>
                <div class="person-info">
                    <p>Hello there! My name is Zach and I developed all of the behind the scenes features for this website.  I had a blast learning how to develop a backend and work with databases for the first time. In my free time I love to play piano, run and go skiing. I hope our website has helped you find the car of your dreams!</p>
                </div>
            </div>
            <div class="solo background-selector">
                <div class="position">
                    <span>John Woodward</span>
                    <p>Frontend Developer</p>
                </div>
                <div class="portraits">
                    <img src="{{ url_for('static', filename='images/johnPortrait.jpg') }}" alt="Portrait">
                </div>
                <div class="person-info">
                    <p>Hello! My name is John Woodward and I was responsible for the frontend development of the website, I designed the layout and styled all the pages. When we first started this project back in November I had no idea how to code in HTML, CSS, or JavaScript. But now through a lot of hard work, I was able to develop proficiency in all those languages and implement them all on this website. In my free time, I enjoy biking, lifting, playing the guitar, and hiking. Thanks for checking out our website!!</p>
                </div>
            </div>
            <div class="solo background-selector">
                <div class="position">
                    <span>James Dickens</span>
                    <p>Graphic Designer</p>
                </div>
                <div class="portraits">
                    <img src="{{ url_for('static', filename='images/DSC_0077.jpg') }}" alt="Portrait">
                </div>
                <div class="person-info">
                    <p>My name is James, and I've always had a passion for Japanese cars. Bringing that passion to life through my artwork on this website has been challenging, but I've loved being a part of every design phase of a product that looks great. When I'm not learning Adobe Illustrator, I like to work on my car, play music, and skateboard. Thanks for visitng JZ JDM!</p>
                </div>
            </div>
        </div>
        <div class="background-selector">
            <div class="theme-container info-spacer">
                <div class="theme-header">
                    <span>Theme</span>
                    <p>Used JDM import Cars</p>
                </div>
            </div>
            <div class="location-container info-spacer">
                <div class="location-header">
                    <span>Where are we from?</span>
                    <p>Iowa City West High School BPA Chapter, Iowa City, Iowa</p>
                </div>
            </div>
            <div class="year-header info-spacer">
                <span>2022-2023</span>
            </div>
        </div>
    </div>
{% endblock %} 