{% extends "layout.html" %} 

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/owners.css') }}">
{% endblock %}

{% block body %} 
    <div class="owner-container">
        <div class="owner-heading">
            <span>Owners</span>
        </div>
        <div class="owners">
            <div class="solo background-selector">
                <div class="position">
                    <span>Zach Buchholz</span>
                    <p>Full Stack Developer</p>
                </div>
                <div class="portraits">
                    <img src="{{ url_for('static', filename='images/zachPortrait.jpg') }}" alt="Portrait">
                </div>
                <div class="person-info">
                    <p>&emsp;Hello there! My name is Zach and I developed all of the behind the scenes features for this website as well as part of the frontend. I had a blast learning how to develop a backend and work with databases for the first time. In my free time I love to play piano, run and go skiing. I hope our website has helped you find the car of your dreams!</p>
                </div>
            </div>
            <div class="solo background-selector">
                <div class="position">
                    <span>John Woodward</span>
                    <p>Frontend Developer</p>
                </div>
                <div class="portraits">
                    <img src="https://images2.imgbox.com/f6/72/IRID5Rfo_o.jpg" alt="Portrait">
                </div>
                <div class="person-info">
                    <p>&emsp;Hello! My name is John Woodward and I was responsible for the frontend development of the website, I designed the layout and styled all the pages. When we first started this project back in November I had no idea how to code in HTML, CSS, or JavaScript. But now through a lot of hard work, I was able to develop proficiency in all those languages and implement them all on this website. In my free time, I enjoy biking, lifting, playing the guitar, and hiking. Thanks for checking out our website!!</p>
                </div>
            </div>
            <div class="solo background-selector">
                <div class="position">
                    <span>James Dickens</span>
                    <p>Graphic Designer</p>
                </div>
                <div class="portraits">
                    <img src="https://images2.imgbox.com/86/4d/hqtCip4j_o.jpg" alt="Portrait">
                </div>
                <div class="person-info">
                    <p>&emsp;My name is James, and I've always had a passion for Japanese cars. Bringing that passion to life through my artwork on this website has been challenging, but I've loved being a part of every design phase of a product that looks great. When I'm not learning Adobe Illustrator, I like to work on my car, play music, and skateboard. Thanks for visiting JZ JDM!</p>
                </div>
            </div>
            <div class="solo background-selector">
                <div class="position">
                    <span>Dillon Croco</span>
                    <p>Database Specialist</p>
                </div>
                <div class="portraits">
                    <img src="https://images2.imgbox.com/11/2f/r0eWSRVZ_o.jpg" alt="Portrait">
                </div>
                <div class="person-info">
                    <p>&emsp;Hello, my name is Dillon Croco and I am super excited to help you find the perfect set of wheels! As the database specialist, my job was to find and compile all of the cars for sale at JZ JDM. I love discovering and learning about new cars so this job was right up my alley. In my free time, I am a competitive golfer traveling all around the country. I also love to spend time outside mowing and fishing. I hope you can drive away in a dream today!</p>
                </div>
            </div>
        </div>
        <div class="background-selector">
            <div class="theme-container info-spacer">
                <div class="theme-header">
                    <span>Theme</span>
                    <p>JDM Used Car Lot</p>
                </div>
            </div>
            <div class="location-container info-spacer">
                <div class="location-header">
                    <span>Where are we from?</span>
                    <p>Iowa City West High School BPA Chapter, Iowa City, Iowa</p>
                </div>
            </div>
            <div class="year-header info-spacer">
                <span>2022-2023</span>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        (function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'q4egmrY3hCRu8qXBi_c', {});
    </script>
{% endblock %} 