{% extends "layout.html" %} 
{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userProfile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signInUp.css') }}">
{% endblock %} 

{% block body %}
<div class="profile-container">
    <div class="hello-message">
        <h1>{{ current_user.username }} Profile</h1>
    </div>
    {% if user.super_user != 0 %} 
        <a href="{{url_for('control')}}">CONTROL</a>
    {% endif %}
    <div class="large-screen-view">
        <div class="message-container">
            <div class="message-header">
                <h1>Messages</h1>
            </div>
            {% for sender in senders %} 
                <div class="view-messages">
                    {{ sender.username }} 
                    <a href="{{ url_for('message_sales_rep', sales_rep_id=sender.id) }}">View Messages</a>
                </div>
            {% endfor %} 
        </div>  
        <div class="reset-password-container">
            <div class="form-size">
                <div class="reset-header">
                    <h1>Reset Password</h1>
                </div>
                <div class="reset-form">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-input">
                            <p>
                                <div class="form-input-area">
                                    {{ form.password() }}<br>
                                </div>
                                <div class="input-area-error">
                                    {% for error in form.password.errors %}
                                        <span>[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </p>
                        </div>
                        <div class="form-input">
                            <p>
                                <div class="form-input-area">
                                    {{ form.password2() }}<br>
                                </div>
                                <div class="input-area-error">
                                    {% for error in form.password2.errors %}
                                        <span>[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </p>
                        </div>
                        <div class="form-submit">
                            <p>{{ form.submit() }}</p>
                        </div>
                    </form>
                </div> 
                <div class="reset-header">
                    <h1>Update/Add Email</h1>
                </div>
                <div class="reset-form">
                    <form action="" method="post">
                        {{ update_email.hidden_tag() }}
                        <div class="form-input">
                            <p>
                                <div class="form-input-area">
                                    {{ update_email.email() }}<br>
                                </div>
                                <div class="input-area-error">
                                    {% for error in update_email.email.errors %}
                                        <span>[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </p>
                        </div>
                        <div class="form-submit">
                            <p>{{ update_email.submit() }}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="favorites-container">
        <h2>Favorited Cars</h2>
        <div class="car-grid">
            {% for car in cars %} 
                {% include "_carPreview.html" %} 
            {% endfor %}
        </div>
    </div>
    <div class="discover-button-container">
        <a href="{{ url_for('listings') }}" class="discover-more-button">Discover more cars</a>
    </div>
</div>
<script type='text/javascript'>
    (function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'q4egmrY3hCRu8qXBi_c', {});
</script>
{% endblock %}