{% extends "blank.html" %}

{% block body %} 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="list-style-type: none;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <div class="form-input-label">
                {{ form.email.label }}
            </div>
            <div class="form-input-area">
                {{ form.email() }}
            </div>
            <div class="form-input-error">
                {% for error in form.email.errors %}
                    <span>[{{ error }}]</span>
                {% endfor %}
            </div> 
        </p>
        <div class="form-submit">
            <p>
                {{ form.submit() }}
            </p>
        </div>
    </form>
{% endblock %}