{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/salesReps.css') }}">
{% endblock %}


{% extends "layout.html" %} 

{% block body %}
<div class="sales-rep-top">
    <div class="sales-rep-header">
        <h1>Sales Representatives</h1>
        <hr>
    </div>
    
    <div class="sales-rep-para">
        <p>Get to know our esteemed sales representatives here at J'z JDM, click on their profiles to learn more about them!</p>
    </div>
</div>
<div class="background-selector">
    <div class="sales-rep-profile-container">
        {% for sales_rep in sales_reps %} 
            {% include "_saleRepresentative.html" %}
        {% endfor %}
    </div>
</div>
<div class="bottom-gradient"></div>
<script type='text/javascript'>
    (function(I, L, T, i, c, k, s) {if(I.iticks) return;I.iticks = {host:c, settings:s, clientId:k, cdn:L, queue:[]};var h = T.head || T.documentElement;var e = T.createElement(i);var l = I.location;e.async = true;e.src = (L||c)+'/client/inject-v2.min.js';h.insertBefore(e, h.firstChild);I.iticks.call = function(a, b) {I.iticks.queue.push([a, b]);};})(window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'q4egmrY3hCRu8qXBi_c', {});
</script>
{% endblock %}
