<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %} 
        <title>{{ title }}</title>
    {% else %} 
        <title>Default Title</title>
    {% endif %}
    <link rel="stylesheet" href="../static/css/variables.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="../static/js/script.js" defer>
    {% block js %} {% endblock %}

</head>
<body>
    
    {% block body %} {% endblock %}
</body>
</html>