<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %} 
        <title>{{ title }}</title>
    {% else %} 
        <title>Default Title</title>
    {% endif %}
    <link rel="stylesheet" href="../static/css/variables.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="../static/js/script.js" defer>
    {% block js %} {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar" id="topnav">
        <ul class="navlinks">
            <!-- Homepage -->
            <a href="{{ url_for('index') }}">Home</a>
            <!-- Page with seach feature for cars and Social Media thing for the cars -->
            <a href="{{ url_for('listings') }}">Listings BEEP BOOP</a>
            <!-- Don't add this for a navbar this is the page for any specific car -->
            <a href="{{ url_for('car') }}">Specific Car</a>
            <!-- Loan calculator -->
            <a href="{{ url_for('loan') }}">Loan Calculator</a>
            <!-- maybe better name than management.html? -->
            <a href="{{ url_for('management') }}">Sales reps and Owners</a>
            <!-- account information I wouldn't put this direct link here maybe a login/sighup sorta thing instead? -->
            <a href="{{ url_for('account') }}">Account</a>
            <!-- Don't put this is just for us to monitor database and other things we might find useful -->
            <a href="{{ url_for('control') }}">Control Center</a>
            <!-- Used to link the hamburger button to javascript -->
            <a href="javascript:void(0);" class="icon" onclick="hamburgerClick()"></a>
        </ul>
        <!-- <hr> -->
    </nav>
    {% block body %} {% endblock %}
</body>
</html>