{% extends "layout.html" %} 

{% block js %}
    <script src="../static/js/loan.js" defer></script>
{% endblock %}

{% block css %} 
<link rel="stylesheet" href="../static/css/loan.css">
{% endblock %}


{% block body %} 
    <div id="loanContainer">
        <div class="loan-info-container" id="loanInput">
            <div id="topInformation">
                <span id="infoHeader">
                    Car Loan Calculator
                </span>
                <span id="infoPara">
                    Use our Loan Calculator tool to estimate your monthly car loan payments.
                </span>
            </div>
            <div id="calculatorInput">
                
            </div>
        </div>
        <div class="loan-info-container" id="loadOutput">

        </div>
    </div>
{% endblock %}